* {
	margin:0px;
	padding:0px;
}
			
#menu {
	margin:auto;
	width:500px;
	font-family:Tahoma;
}		

ul{
	list-style:none;
}		
.nav > li {
	float:left;
}		
.nav li a {
	background-color:blue;
	color:white;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}		
.nav li a:hover {
	background-color:white;
	color: blue;
}	
.nav li ul {
	display:none;
	position:absolute;
	min-width:100px;
}		
.nav li:hover > ul {
	display:block;
}		
.nav li ul li {
	position:relative;
}			
.nav li ul li ul {
	right:-200px;
	top:0px;
}





